* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 50px auto;
    width: 400px;
    padding: 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.registerForm h3 {
    text-align: center;
    margin-bottom: 30px;
}

.registerForm input {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px 10px;
    height: 40px;
}

.registerForm .btn {
    width: 50%;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: blue;
    height: 40px;
}

.result .success {
    color: green;
    text-align: center;
    margin-top: 15px;
}

.result p {
    margin-bottom: 15px;
}