<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" th:href="@{/assets/css/loginStyle.css}">
</head>
<body>

<h1>Đăng nhập</h1>

<form th:action="@{/auth/login}" method="post" th:object="${userLoginDto}">
    <label>Email:</label>
    <input type="email" th:field="*{email}" required>

    <label>Mật khẩu:</label>
    <input type="password" th:field="*{password}" required>

    <div th:if="${error}" class="error">
        <p th:text="${error}"></p>
    </div>

    <button type="submit">Đăng nhập</button>
</form>

<p>Bạn chưa có tài khoản? <a th:href="@{/auth/register}">Đăng ký</a></p>

</body>
</html>
