<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/style.css}">
    <title>Update Product</title>
</head>
<body>
<div class="container">
    <h1>Cập nhật sản phẩm</h1>
    <form th:action="@{/edit}" th:object="${product}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">

        <label for="name">Tên sản phẩm</label>
        <input type="text" id="name" th:field="*{name}" class="input">
        <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

        <label for="price">Giá</label>
        <input type="number" step="0.01" id="price" th:field="*{price}" class="input">
        <div class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>

        <label for="quantity">Số lượng</label>
        <input type="number" id="quantity" th:field="*{quantity}" class="input">
        <div class="error" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>

        <label for="image">Hình ảnh</label>
        <input type="file" id="image" name="imageFile" class="input">
        <div class="error" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></div>

        <input type="submit" class="btn" value="UPDATE">
    </form>
    <div th:if="${errorMsg}" class="error">
        <p th:text="${errorMsg}"></p>
    </div>
</div>
</body>
</html>
