<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Add Movie</h1>
    <p th:text="${error}" class="error"></p>
    <form th:action="@{/add}" th:object="${movie}" method="post">
        <label for="title" class="label">Title</label>
        <input type="text" id="title" th:field="*{title}" class="input">
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></div>

        <label for="director" class="label">Director</label>
        <input type="text" id="director" th:field="*{director}" class="input">
        <div th:if="${#fields.hasErrors('director')}" th:errors="*{director}" class="error"></div>

        <label for="release-date" class="label">Release Date</label>
        <input type="text" id="release-date" th:field="*{releaseDate}" class="input">

        <label for="genre" class="label">Genre</label>
        <input type="text" id="genre" th:field="*{genre}" class="input">
        <div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" class="error"></div>

        <label for="poster" class="label">Poster</label>
        <input type="text" id="poster" th:field="*{poster}" class="input">

        <input type="submit" value="Add" class="btn">
    </form>
</div>
</body>
</html>